*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 90%;    margin: auto;
    background-color: rgb(226, 111, 111);
    
}
nav{
    display: flex;
    flex-direction: column;

}

nav a{
    color: #ccc;
    padding: 1rem;
    font-size: 1.2rem;
}
nav a:hover{
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
}