/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
	--blanco: #fff;
	--azul: #0e4da4;
	--rgba-negro: 0, 0, 0;
	--box-shadow-2bp-buttom: 0px 1px 2px rgba(0, 0, 0, 0.16),
		0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
}
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
	color: black;
}
img {
	max-width: 100%;
	height: auto;
}
/* <!-- **************************
            lower-menu
**************************--> */
.lower-menu {
	position: fixed;
	width: 100%;
	bottom: 0;
}
.lower-menu {
	background: rgb(9, 4, 91);
	background: linear-gradient(
		90deg,
		rgba(9, 4, 91, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(9, 4, 91, 1) 100%
	);
	z-index: 998;
}

i {
	width: 100%;
	height: 100%;
	color: var(--blanco);
	font-size: 2rem;
	cursor: pointer;
	transition: all 2s ease-in-out;
}
.center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
input[type='text'] {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	outline: none;
	/* border-radius: 4px; */
	font-size: 16px;
	background-color: transparent;
	background-image: url('./assets/icon/arrow.svg');
	background-position: center left;
	background-repeat: no-repeat;
	/* padding: 12px 20px 12px 40px; */
	padding-left: 3rem;
	caret-color: auto;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
input[type='text']:focus {
	width: 100%;
}
input.custom {
	caret-color: var(--blanco);
}

.pBetween {
	padding: 0 1rem;
}
#btnBuscarClick {
	transition: all 1s ease-in-out;
}
.icons-menu {
}
.icons-menu-container {
	width: 100%;
	height: 4rem;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 50% 1fr;
	grid-template-columns: 50% 1fr;
}
.search-icon-menu {
	display: none;
	width: 100%;
	height: 4rem;
}
.search-icon-menu input[type='text'] {
	font-size: 1.5rem;
	color: #ccc;
}

.search-icon-menu input[type='text']:focus {
	color: white;
}
.search-icon-menu.is-active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
/* <!-- *********************
galery image movie
*********************--> */

.gallery-image-movie {
}
.gallery-image-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 20vw;
	gap: 0.4rem;
}
.gallery-image-caja {
	width: 100%;
	height: 100%;
	background-image: var(--gImgCaja);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	cursor: pointer;

	position: relative;
	transition: box-shadow 0.3s ease;
	overflow: hidden;
	z-index: 1;
}
.gallery-image-caja:hover {
	box-shadow: var(--box-shadow-2bp-buttom);
}
.gallery-image-caja::before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	background-color: rgba(var(--rgba-negro), 0.2);
	transition: transform 0.5s ease-in-out;
}
.gallery-image-caja:hover::before {
	transform: scale(50);
}
.gallery-image-caja div {
	display: none;
	width: 30px;
	height: 30px;
	position: absolute;
	border-radius: 50%;
	overflow: hidden;
	bottom: 0;
	z-index: 2;
}
.gallery-image-caja img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center 40%;
	transform: scale(1.5);
}

.hhhh > .mostrar {
	display: block;
}
